@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.animate-fade-in { animation: fade-in 0.5s ease-in-out; }

@keyframes slide-out-right {
  0% { transform: translateX(0); opacity: 1; }
  100% { transform: translateX(100%); opacity: 0; }
}
.animate-slide-out-right { animation: slide-out-right 0.5s ease-in-out; }

.dropDownProfile{
  position: absolute;
  top: 3.4rem;
  right: 1.5rem;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  z-index: 100;
}
.dropDownData{
    position: absolute;
    z-index: 100;
}



.text-32{
  font-size: 32;
  line-height: 40;
}

input {
  all: unset;
}
/* Đảm bảo body và html chiếm toàn bộ chiều cao màn hình */
html, body {
  height: 100%;
  margin: 0; /* Loại bỏ margin mặc định */
  transition: background-color 0.3s ease, color 0.3s ease;
   /* Ngăn cuộn dọc */
}

/* Đảm bảo thẻ root của ứng dụng cũng chiếm toàn bộ chiều cao */
#root {
  height: 100%;
  display: flex; /* Có thể sử dụng flexbox nếu cần */
  flex-direction: column; /* Nếu bạn có nhiều thành phần con */
}

/* Nếu bạn cần cho nội dung bên trong #root chiếm toàn bộ không gian */
.main-content {
  flex: 1; /* Chiếm không gian còn lại */
}

.img-container {
  width: 40px; /* Hoặc kích thước bạn muốn */
  height: 40px; /* Hoặc kích thước bạn muốn */
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f0f0f0; /* Màu nền nếu cần */
  background-size: cover; /* Lấp đầy không gian */
  background-position: center; /* Căn giữa */
  border-radius: 8px;
}

.img-container img {
  width: auto; /* Không giới hạn chiều rộng của ảnh */
  max-width: none;
  height: 100%; /* Chiều cao 100% của container */
  object-fit: cover; /* Lấp đầy không gian mà không làm méo */
}

.fillter{
  box-shadow: 0px 4px 8px 0px rgba(15, 15, 41, 0.04);
  z-index: 100;
  right: 8.25rem;
  top:2.75rem;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}